/*=============================
  #Css do barra de rolagem
=============================== */

::-webkit-scrollbar {
  width: 5px;
  height: 6px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #08124d;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #2d4d70;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #3f5d7d;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #f8f8f8;
  color: #292929;
}
#box1 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400;
  background-color: #fff;
  border-radius: 15px;
  padding: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  svg.deleteIcon {
    font-size: 6rem;
    color: #ef2121c7;
  }
}

#modal-modal-title {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

#modal-modal-description {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  padding: 0 0.75rem;
  margin: 8px 0;
}

a {
  text-decoration: none;
}

.MuiCardActions-root {
  padding: 0;
  flex-wrap: wrap;
  gap: 10px;
}

body,
input,
button,
textarea {
  font: 400 16px "Roboto", sans-serif;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;

  &::before {
    display: table;
    content: " ";
  }

  &::before,
  &::after {
    box-sizing: border-box;
  }
}

button {
  cursor: pointer;
}

.align-items-start {
  align-items: flex-start !important;
}

.breadcrumb {
  display: flex;
  flex-wrap: wrap;
  padding: 0 0;
  margin-bottom: 1rem;
  list-style: none;

  a {
    text-decoration: none;
    color: #899bbd;
    transition: 0.3s;
  }

  .breadcrumb-item + .breadcrumb-item {
    padding-left: 0.5rem;

    &::before {
      float: left;
      padding-right: 0.5rem;
      color: #6c757d;
      content: var(--bs-breadcrumb-divider, "/");
    }
  }
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 1rem;
  -webkit-box-shadow: -1px 3px 14px 3px #a5a5a5de;
  box-shadow: -1px 3px 14px 3px #a5a5a5de;

  .card-body {
    flex: 1;
    flex-wrap: wrap;
    padding: 1rem 1rem;
    display: flex;
    align-items: flex-start;
  }

  .card-title {
    margin-top: 5px;
    padding: 30px 0;
    font-size: 24px;
    font-weight: bold;
    color: #012970;
    font-family: "Poppins", sans-serif;
  }
}

.nav {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
  align-items: flex-start;
}

.nav-tabs {
  border-bottom: 1px solid #dee2e6;
  width: 100%;
  .nav-link.active {
    color: #495057;
    background-color: #fff;
    border-color: #dee2e6 #dee2e6 #fff;
  }

  .nav-link {
    margin-bottom: -1px;
    background: 0 0;
    border: 1px solid transparent;
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
  }
}

.row {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(-1 * var(--bs-gutter-y));
  margin-right: calc(-0.5 * var(--bs-gutter-x));
  margin-left: calc(-0.5 * var(--bs-gutter-x));

  > * {
    flex-shrink: 0;
    width: 100%;
    max-width: 100%;
    padding-right: calc(var(--bs-gutter-x) * 0.5);
    padding-left: calc(var(--bs-gutter-x) * 0.5);
    margin-top: 0.5rem;
  }

  .col-1,
  .col-10,
  .col-11,
  .col-12,
  .col-2,
  .col-3,
  .col-4,
  .col-5,
  .col-6,
  .col-7,
  .col-8,
  .col-9,
  .col-lg,
  .col-lg-1,
  .col-lg-10,
  .col-lg-11,
  .col-lg-12,
  .col-lg-2,
  .col-lg-3,
  .col-lg-4,
  .col-lg-5,
  .col-lg-6,
  .col-lg-7,
  .col-lg-8,
  .col-lg-9,
  .col-md,
  .col-md-1,
  .col-md-10,
  .col-md-11,
  .col-md-12,
  .col-md-2,
  .col-md-3,
  .col-md-4,
  .col-md-5,
  .col-md-6,
  .col-md-7,
  .col-md-8,
  .col-md-9,
  .col-sm,
  .col-sm-1,
  .col-sm-10,
  .col-sm-11,
  .col-sm-12,
  .col-sm-2,
  .col-sm-3,
  .col-sm-4,
  .col-sm-5,
  .col-sm-6,
  .col-sm-7,
  .col-sm-8,
  .col-sm-9,
  .col-xl,
  .col-xl-1,
  .col-xl-10,
  .col-xl-11,
  .col-xl-12,
  .col-xl-2,
  .col-xl-3,
  .col-xl-4,
  .col-xl-5,
  .col-xl-6,
  .col-xl-7,
  .col-xl-8,
  .col-xl-9,
  .col-xl-auto {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
  }
}

.col-form-label {
  padding-top: calc(0.375rem + 1px);
  padding-bottom: calc(0.375rem + 1px);
  margin-bottom: 0;
  font-size: inherit;
  line-height: 1.5;
}

.mb-3 {
  margin-bottom: 10px;
}

.form-control {
  outline: none;
  display: block;
  width: 100%;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;

  &:focus {
    box-shadow: -1px 1px 7px 1px #212529;
  }
}
#root > main {
  height: 100vh;
  width: 100vw;
}

section {
  margin-top: 120px;
}

#topbar-menu {
  li {
    gap: 10px;

    a {
      color: #070118;
    }
  }
}

/* =============================
  Mobile
============================= */
@media (min-width: 576px) {
  .col {
    max-width: 100%;
  }
  .col-sm-8 {
    max-width: 66.666667%;
  }
}

@media (max-width: 425px) {
  .col-xm-12 {
    max-width: 100%;
  }
}

/* =============================
  Mobile
============================= */
@media (min-width: 768px) {
  .col-md-2 {
    max-width: 16.666667%;
  }

  .col-md-3 {
    max-width: 25%;
  }

  .col-md-4 {
    max-width: 33.333333%;
  }

  .col-md-5 {
    max-width: 41.66666667%;
  }

  .col-md-6 {
    max-width: 50%;
  }

  .col-md-7 {
    max-width: 58.33333333%;
  }

  .col-md-8 {
    max-width: 66.666667%;
  }

  .col-md-10 {
    max-width: 83.33333333%;
  }
}

/* =============================
  Tablet
============================= */
@media (min-width: 425px) {
  .col-sm-4 {
    max-width: 33.333333%;
  }

  .col-sm-6 {
    max-width: 50%;
  }

  .col-sm-8 {
    width: 66.66666667%;
  }

  .col-sm-12 {
    width: 100%;
  }
}

/* =============================
  Desktop
============================= */
@media (min-width: 1024px) {
  .col-lg-2 {
    max-width: 16.666667%;
  }

  .col-lg-4 {
    max-width: 33.33333333%;
  }

  .col-lg-8 {
    max-width: 66.66666667%;
  }

  .col-lg-10 {
    max-width: 83.33333333%;
  }
}
