.container-code {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;

  form {
    min-width: 320px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    .confirm-text {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    button {
      width: 100%;
    }
  }
}
