.establishment {
  
  .establishment-title {
    padding-bottom: 9px;
    margin: 40px 0 20px;
    border-bottom: 1px solid #eee;
    font-size: 36px;

    .establishment-sub {
      margin-left: 5px;
      color: #555;
    }
  }

  .alert-info {
    background-color: #d9edf7;
    color: #31708f;
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid #bce8f1;
    border-radius: 4px;
    font-size: 14px;
    line-height: 1.42857143;

    > button {
      border: 0;
      color: #000;
      cursor: pointer;
      float: right;
      font-size: 21px;
      font-weight: 700;
      line-height: 1;
      opacity: 0.2;
    }

    > span {
      display: flex;
      align-items: center;
    }

    > span > svg,
    > span > strong {
      margin-right: 5px;
    }

    &.hidden {
      display: none;
    }

    &.show {
      display: block;
    }
  }
}

#modal-edit {
  display: flex;
  align-items: center;
  justify-content: center;
  .formNewsEstablishment {
    min-width: auto;
    height: auto;
    background: #fff;
    margin: 0.75rem;
    border-radius: 5px;
  } 
}

/* =============================
    Estilo do formulário
=============================*/
