.establishment {
  margin-top: 20px;
  .establishment-title {
    padding-bottom: 9px;
    margin: 40px 0 20px;
    border-bottom: 1px solid #eee;
    font-size: 36px;

    .establishment-sub {
      margin-left: 5px;
      color: #555;
    }
  }

  .alert-info {
    background-color: #d9edf7;
    color: #31708f;
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid #bce8f1;
    border-radius: 4px;
    font-size: 14px;
    line-height: 1.42857143;

    img {
      height: 40px;
      width: 40px;
    }

    > button {
      border: 0;
      color: #000;
      cursor: pointer;
      float: right;
      font-size: 21px;
      font-weight: 700;
      line-height: 1;
      opacity: 0.2;
    }

    > span {
      display: flex;
      align-items: center;
    }

    > span > svg,
    > span > strong {
      margin-right: 5px;
    }

    &.hidden {
      display: none;
    }

    &.show {
      display: block;
    }
  }
}

#modal-edit {
  display: flex;
  align-items: center;
  justify-content: center;
  .formNewsEstablishment {
    min-width: auto;
    height: auto;
    background: #fff;
    margin: 0.75rem;
    border-radius: 5px;
  }
}

/* .newEstablishment {
  height: 100vh;
  padding: 0 .75rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  .MuiInput-root{
    width: 100%;
  }
  .addEstablishment {
    display: flex;
    justify-content: space-between;
    align-items: center;

    form {
      flex: 2;
    }

    img {
      flex: 1;
      height: 100%;
      width: 24rem;
    }
  }
} */

/* =============================
    Estilo do formulário
=============================*/
.establishmentDetails {
  margin-top: 120px;

  .text-center {
    display: flex;
    align-items: center;
    gap: 20px;
    > div {
      display: flex;
      align-items: center;
      font-size: 0.7rem;
      color: #555;
      .MuiSvgIcon-root {
        width: 0.7rem;
        height: 0.7rem;
      }
    }

    + p {
      margin-top: 10px;
      color: blue;
    }
  }

  .raking {
    margin-top: 20px;
    display: flex;
    font-size: 0.7rem;
    flex-direction: column;
    text-transform: uppercase;
    letter-spacing: 0.3rem;
    color: #555;

    div {
      gap: 10px;
      font-size: 2.5rem;
      display: flex;
      color: black;
    }

    .MuiSvgIcon-root {
      width: 2rem;
      height: 2rem;
    }
  }

  ul {
    display: flex;

    li {
      list-style: none;
    }
  }

  .col-md-3,
  .col-lg-3 {
    div {
      margin: 20px 0;
      display: flex;
      flex-direction: column;

      p {
        font-size: 1.5rem;
        font-weight: 500;
        margin-bottom: 5px;
      }

      span {
        display: flex;
        flex-direction: column;
        margin: 5px 0;
      }
    }
  }

  img, button {
    width: 100%;
  }

  .text-info{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    margin-top: 20px;
  }
}
